{% extends "base.html" %}

{% block title %}Popular Series{% endblock %}

{% block content %}
<section id="popular-series">
    <div class="container-side-links mt-5">

        <div class="text-center mb-5">
            <h1>Popular TV Series</h1>
            <p>Explore trending and fan-favourite television series from different genres.</p>
        </div>

        <div class="row">

            <!-- Series 1 -->
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-lg">
                    <img src="/static/image/cinema_retro.png"
                         class="card-img-top"
                         alt="Series Poster">

                    <div class="card-body">
                        <h3 class="card-title">Stranger Things</h3>

                        <p class="card-text">
                            A group of friends uncovers supernatural mysteries and secret
                            experiments in the small town of Hawkins.
                        </p>

                        <a href="#" class="btn btn-primary">
                            View Series
                        </a>
                    </div>
                </div>
            </div>

            <!-- Series 2 -->
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-lg">
                    <img src="/static/image/cinema_luxury.png"
                         class="card-img-top"
                         alt="Series Poster">

                    <div class="card-body">
                        <h3 class="card-title">Breaking Bad</h3>

                        <p class="card-text">
                            A chemistry teacher turned drug manufacturer enters a dangerous
                            criminal world to secure his family’s future.
                        </p>

                        <a href="#" class="btn btn-primary">
                            View Series
                        </a>
                    </div>
                </div>
            </div>

            <!-- Series 3 -->
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-lg">
                    <img src="/static/image/cinema_cozy.png"
                         class="card-img-top"
                         alt="Series Poster">

                    <div class="card-body">
                        <h3 class="card-title">The Witcher</h3>

                        <p class="card-text">
                            Geralt of Rivia battles monsters and navigates political
                            conflicts in a fantasy world full of magic.
                        </p>

                        <a href="#" class="btn btn-primary">
                            View Series
                        </a>
                    </div>
                </div>
            </div>

            <!-- Series 4 -->
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-lg">
                    <img src="/static/image/cinema_audience.png"
                         class="card-img-top"
                         alt="Series Poster">

                    <div class="card-body">
                        <h3 class="card-title">Money Heist</h3>

                        <p class="card-text">
                            A mysterious mastermind recruits skilled criminals to execute
                            the biggest heist in history.
                        </p>

                        <a href="#" class="btn btn-primary">
                            View Series
                        </a>
                    </div>
                </div>
            </div>

            <!-- Series 5 -->
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-lg">
                    <img src="/static/image/cinema_retro.png"
                         class="card-img-top"
                         alt="Series Poster">

                    <div class="card-body">
                        <h3 class="card-title">Wednesday</h3>

                        <p class="card-text">
                            Wednesday Addams investigates mysterious crimes while attending
                            Nevermore Academy.
                        </p>

                        <a href="#" class="btn btn-primary">
                            View Series
                        </a>
                    </div>
                </div>
            </div>

            <!-- Series 6 -->
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-lg">
                    <img src="/static/image/cinema_luxury.png"
                         class="card-img-top"
                         alt="Series Poster">

                    <div class="card-body">
                        <h3 class="card-title">Game of Thrones</h3>

                        <p class="card-text">
                            Noble families battle for power and survival in the fantasy
                            world of Westeros.
                        </p>

                        <a href="#" class="btn btn-primary">
                            View Series
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}